{:kotoba.app/id "cloud.itonami.isic-8291", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqox3nwbs2tirykll3m62i5crzbltr2u5kww2y4ucpiwuthltfke", :kotoba.app/embed-url "ipfs://bafkreihqox3nwbs2tirykll3m62i5crzbltr2u5kww2y4ucpiwuthltfke", :published {:archive "https://kotobase.net/ipfs/bafkreihqox3nwbs2tirykll3m62i5crzbltr2u5kww2y4ucpiwuthltfke", :size 72889, :put-status 201, :get-status 200, :at "2026-08-15T13:47:16.368Z"}}
